# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment
# =========================
# Environment
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/
